.container{
    background-color: beige;
}

.row .col {
/*   border: solid 1px black;*/
   padding-bottom:0px;
   margin-bottom:0px;
}
h1, h2, h3 {
    text-transform: uppercase;
}

h3 {
    color:gray;
}

h2 {
    font-size: 25px;
}

.experience, .education{
    padding-bottom:12px;
}

img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: -5px;
}

a {
    color:#212529;
}

a:hover {
    color:#212529;
}

.socialColumn, .contactColumn{
/*    text-align: center; */
    white-space: nowrap;
}

ul {
    padding-left: 20px;
}

@media (min-width: 768px){
    #leftColumn{
        border-right: solid rgba(0,0,0,.1) 1px;
    }
  }
